* {
    box-sizing: border-box;
}

/* TAG */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ebebeb;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    height: 85%;
    width: 80%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

h1 {
    color: #3b3b3b;
    margin: 0;
}

hr {
    width: 100%;
    border: black solid 0.2%;
}

button {
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: rgb(154, 26, 26);
    transition: ease-in-out, 0.3s;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(215, 51, 51);
}

/* ID */

#section-cadastro,
#section-login {
    height: 85%;
    flex: 1;
    padding: 2rem;
}

div#cadastro-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: min(100%, 600px);
}

div#login-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    gap: 1rem;
    width: min(100%, 600px);
}

form#cadastro-usuario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: min(100%, 600px);
    gap: 0.5rem;
}

form#login-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(100%, 600px);
    gap: 1rem;
}

#section-cadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: black dashed 3px;
}

#section-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

section#cadastro-controllers {
    display: flex;
    height: 10%;
    width: 100%;
}

section#login-controllers {
    display: flex;
    height: 40%;
    width: 100%;
}

div#information-text {
    text-align: justify;
    font-weight: bold;
    font-size: large;
    color: #3b3b3b;
}

div#termos-input {
    width: 50%;
}

div#cadastro-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 0.5rem;
}

div#login-buttons {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    gap: 0.5rem;   
}

div#termos-input {
    display: flex;
    align-items: center;
    font-size: small;
    gap: 0.5rem;
}

/* CLASS */

div.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

div.form-title {
    padding: 1rem 0;
}

/* SUB TAG */

form input {
    height: 2rem;
    font-size: large;
    padding-left: 2%;
    color: rgb(36, 36, 36);
}

.form-title h1 {
    margin: 0;
}

div#login-able a {
    font-size: small;
}

/* TIPO */

button[type=reset] {
    box-sizing: border-box;
    border: black 2px solid;
    background-color: white;
    color: black;
}

button[type=reset]:hover {
    background-color: black;
    color: #FFFFFF;
}