.div-geral-catalogo{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ebebeb;
}

.div-individual-catalogo{
    background-color: #FFFFFF;
    color: #353535;
    text-align: center;
    width: 250px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
.div-individual-catalogo:hover {
    transform: scale(1.05); 
}