<div class="TopoSecundario">
        <div class="MarcaSecundaria">Ars Libris</div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Novidades</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Localização</a></li>
                <li><a href="#">Envios</a></li>
            </ul>
        </nav>
    </div>


    <header>

        <div class="BarraPesquisa">
            <button type="submit" class="iconeBusca"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Buscar Produtos...">
        </div>
        <div class="BlocoDireita">
            <nav class="acoesUsuarios">
                <ul>
                    <li>
                        <a routerLink="/cadastro-usuario">
                            <i class="fa-solid fa-user"></i>
                            Entrar
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cadastro-usuario">/ Criar Conta</a>
                    </li>

                </ul>
            </nav>
            <div class="botaoCarrinho">
                <button class="iconeCarrinho" aria-label="ver carrinho">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>

    </header>

