 <footer>
        <div class="container">

            <div class="rodape-coluna">
                <h3>Informações</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Trocas e Devoluções</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>

            <div class="rodape-coluna">
                <h3>Endereço</h3>
                <p>Av. Paulista, 1578 — Bela Vista<br>
                    São Paulo — SP, 01310-200<br>
                    Brasil</p>

                <h3>Fale Conosco</h3>
                <ul>
                    <li>(11) 4002-8922<br>Segunda a sexta: 09h às 18h<br>Sábado: 09h às 14h</li>
                    <li>ArsLibris&#64;gmail.com.br</li>
                    <li>WhatsApp: (11) 4002-8922</li>
                </ul>
            </div>

            <div class="rodape-coluna">
                <h3>Formas de Pagamento</h3>
                <div class="formas-pagamento">
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-visa"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-mastercard"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-amex"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-diners-club"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-discover"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-cc-paypal"></i></div>
                    <div class="metodo-pagamento"><i class="fa-brands fa-bitcoin"></i></div>
                    <div class="metodo-pagamento"><i class="fa-solid fa-barcode"></i></div>
                </div>

            </div>

        </div>

        <div class="rodape">
            <h3>Ars Libris</h3>
            <p> Onde cada página abre um novo universo.Uma livraria para quem acredita que cada livro
                é uma porta para uma nova história.</p>
            <p> © 2026 Ars Libris Livraria - CNPJ: 00.000.000/0001-00</p>


            <div class="redesSociais">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

    </footer>
